[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyconnect = {path = ".",editable = true,extras = ["test", "dev"]}

[packages]
pycodestyle = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
